{% extends "base.html" %}
{% block body %}
<style>
#map-canvas { height: 600px; margin: 0px; padding: 0px;}
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var json_data = {% raw json_data %};
var map;
function initialize() {
	var myLatlng = new google.maps.LatLng(25.363882,0);
	var mapOptions = {
	  zoom: 2,
	  center: myLatlng,
	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	}
	map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
	
	_.each(json_data.ips, function(v, k){
		var myLatlng = new google.maps.LatLng(v[0], v[1]);
		var marker = new google.maps.Marker({
			position: myLatlng,
			title:k
		});
		marker.setMap(map);
	});
}

$(function(){
	$('.ip-desc').html( json_data.description );
	
	initialize();
});

</script>

<style>
</style>
<h2 class="ip-desc"></h2>
<div id="map-canvas"></div>

{% end %}
